.stepperContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
  .eachStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .bubbleLineWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      .lineSeparator {
        height: 22px;
        width: 1px;
        border-right: 2px solid #dfdff2;
        margin: 4px 0;
      }
      .inactiveStepLineSeparator {
        border-right: 2px dashed #dfdff2;
      }
    }
  }
}
.cursorPointer {
  cursor: pointer;
}
